* {
    margin: 0;
    padding: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
}

body, html {
    height: 100%;
}

body {
    background: url(background/bg_1.png) no-repeat center center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    height: 99%;
}

.header {
    display: flex;
    padding: 15px;
    text-align: right;
}

.header-left {
    padding: 5px;
    text-align: center;
}

.header-center {
    flex: 1;
    padding: 5px;
    text-align: center;
}

.header-right {
    padding: 5px;
    text-align: center;
}

.main {
    display: flex;
    flex: 1;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.footer {
    display: flex;
    padding: 5px;
    align-items: center;
}

.footer-left {
    padding: 5px;
    text-align: center;
}

.footer-center {
    flex: 1;
    padding: 5px;
    text-align: center;
}

.footer-right {
    padding: 5px;
    text-align: center;
}

.human {
    position: relative;
    width: 100%;
    height: 99%;
    margin: auto;
}

.layim-chat-main {
    position: absolute;
    text-align: left;
    width: 90%;
    height: 50%;
    bottom: 0;
    right: 0;
}

.layui-form-radio,
.layui-form-checkbox {
    background-color: transparent;
}

.layui-form-radio > .chat-tools-skin,
.layui-form-checkbox > .chat-tools-skin {
    color: black;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 100px;
    display: table;
    padding: 5px;
}

.layui-form-radio:hover > .chat-tools-skin,
.layui-form-checkbox:hover > .chat-tools-skin {
}

.layui-form-checked > .chat-tools-skin,
.layui-form-radioed > .chat-tools-skin {
    color: white !important;
    border: 1px solid #16b777 !important;
    background-color: #16b777 !important;
}